# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.sublime-workspace
*.sublime-project

# Logs
npm-debug.log*
*.log

# Environment
.env

# Build
dist/
build/

# Mac files
Icon?
